<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>
      <ul class="site-nav">
            {% for link in site.nav %}
              {% assign active = nil %}
              {% if page.url == link.url%}
                {% assign active = 'nav-item-active' %}
              {% endif %}
              <li class="nav-item {{ active }}">
                  <a href="{{ site.url }}{{ link.url }}">
                      {{ link.text }}
                  </a>
                  {{ indicator }}
              </li>
            {% endfor %}
            
            <!--<li class="nav-item"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="{{ "/images/rss-icon.png" | prepend: site.baseurl }}"></a></li>-->
            <li class="nav-item"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Rss</a></li>
            <li class="nav-item"><a href="{{ "/cn" | prepend: site.baseurl }}">中文</a></li>
            
      
        
      </ul>
      </div>  
      
                  

    </nav>

  </div>

</header>
