<header class="site-header">

  <div class="wrap">

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>
      <ul class="site-nav">
            {% for link in site.nav %}
            {% assign active = nil %}
            {% if page.url == link.url%}
              {% assign active = 'nav-item-active' %}
            {% endif %}
            <li class="nav-item {{ active }}">
                <a href="{{ site.baseurl }}{{ link.url }}">
                    {{ link.text }}
                </a>
                {{ indicator }}
            </li>
            {% endfor %}
            
            <li class="nav-item"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
            <!-- <li class="nav-item"><a href="http://www.guanghuiz.com/en">EN</a></a></li> -->
            
      
        
      </ul>
      </div>  
      
                  

    </nav>

  </div>

</header>
