<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        {% if page.comment %}
            {% if site.disqus.config %}
            <script type="text/javascript">
                //disqus
                var disqus_shortname = '{{ site.disqus.id }}';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] ||
                        document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            {% else %}
                {% if site.duoshuo.config %}
                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"{{ site.duoshuo.id }}"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = 'http://static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                {% endif %}
            {% endif %}
        {% endif %}
    </body>
</html>